@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

body {
    margin: 0;
    font-family: 'Tinos', serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.center_block {
    height: 100vh;
}

.center_block_header {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    height: 70%;
}

.center_block_left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
}

.center_block_left_container .p {
    color: #656363;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center_block_left_container h1 {
    margin: 0;
    color: black;
    font-weight: 400;
    font-size: 54px;
}

.center_block_left_container h1 span {
    color: #DB8E4D;
}

.center_block_left_container_block_list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.center_block_left_container_block_list li {
    margin: 0 40px;
}

.center_block_left_container_block_list li p:nth-child(1) {
    color: #CDAB87;
    font-size: 40px;
    line-height: 3px;
}

.center_block_left_container_block_list li p:nth-child(2) {
    font-size: 20px;
}

.center_block_right_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.center_block_right_container img {
    width: 80%;
    height: auto;
}

/* body */

.center_block_body {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 10%;
    background: url('../image/bg.png') center / cover no-repeat;
}

.center_block_body div {
    width: 50%;
}

.center_block_body_left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.center_block_body_left_container h1 {
    margin: 0;
    font-size: 52px;
    color: #D67E34;
}

.center_block_body_left_container p {
    color: white;
    font-size: 24px;
}

.center_block_body_right_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.center_block_body_right_container button {
    width: 157px;
    height: 47px;
    background: #FF7400;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 2px;
}



@media screen and (max-width:1554px) {
    .center_block_body div {
        width: 100%;
        flex-wrap: wrap;
    }

    .center_block_body_left_container h1 {
        font-size: 30px;
    }

    .center_block_body {
        height: auto;
    }

    .center_block_body_right_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* center block end */

.center_block2 {
    width: 100%;
    height: 100vh;
}

.center_block2_header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center_block2_header h1 {
    margin: 100px 0;
    font-size: 54px;
    font-weight: 400;
}

.center_block2_header h1 span {
    color: #D67E34;
}

.center_block2_body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.center_block2_body_image {
    width: 400px;
}

.center_block2_body_image img {
    width: 100%;
    height: 100%;
}

.center_block2_body_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.center_block2_body_list li {
    display: flex;
    align-items: center;
}

.center_block2_body_list li img {
    margin: 0 40px;
}

.center_block2_body_list li p:nth-child(3) {
    display: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.gallery {
    position: relative;
}

.gallery::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 30px;
    background-color: red;
    top: 112px;
}

.gallery::after {
    content: '';
    position: absolute;
    height: 100px;
    width: 30px;
    background-color: red;
    top: 112px;
    right: 0;
}

.title {
    font-size: 54px;
    line-height: 62px;
    font-weight: 400;
    text-align: center;
}

.title span {
    color: #D67E34;
}

.gallery_img {
    padding: 15px;
}

.cooker {
    margin-top: 100px;
}

.cooker_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cooker_photo img {
    margin-left: 30px;
    margin-top: 30px;
}

footer {
    margin-top: 100px;
    background: url('../images/footer-bg.jpg')center / cover;
    width: 100%;
    height: 70vh;
    color: white;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.footer_title{
    color: #FF7400;
}

.footer_info{
    width: 20%;
}

.list_link li{
    margin-bottom: 15px;
}

.list_link li a{
    padding: 5px;
    border-radius: 20px;
    transition: .5s;
}

.list_link li a:hover{
    background-color: #FF7400;
    color: white;
}


.contact_list li{
    margin: 15px 0;
}

.footer_copiryght{
    margin-top: 165px;
}

@media screen and (max-width:978px) {
    .center_block2_body_image {
        width: 600px;
    }

    .center_block2_body_list {
        padding: 40px 0;
    }

    .center_block2_body_list li p:nth-child(3) {
        display: block;
    }

    .center_block2_body_list li p:nth-child(2) {
        display: none;
    }
    .gallery{
        margin-top: 600px;
    }
}

@media (max-width: 950px) {
    .gallery_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cooker_photo {
        justify-content: center;
    }
}

@media screen and (max-width:838px) {
    .center_block_right_container {
        width: 80%;
    }

    .center_block_right_container img {
        width: 100%;
        height: auto;
    }

    .center_block_left_container h1 {
        font-size: 40px;
    }

    .center_block_header {
        margin: 0;
        width: 100%;
        padding: 100px 0;
        justify-content: center;
    }

    .center_block_left_container {
        width: 100%;
        padding-bottom: 50px;
    }

    .center_block_left_container .p {
        width: 50%;
    }

    .center_block {
        height: auto;
    }
}

@media (max-width: 560px) {
    .gallery::before {
        display: none;
    }

    .gallery::after {
        display: none;
    }

    .gallery_img {
        width: 290px;
    }
}



@media screen and (max-width:440px) {
    .center_block2_body_list li img {
        margin-right: 10px;
    }
}


@media (max-width: 375px) {
    .cooker_photo img {
        width: 270px;
    }

    footer {
        margin-top: 30px;
        height: 30vh;
    }
    .gallery{
        margin-top: 400px;
    }
}